body {
    background-color: #9EDC4B;
}   

.needs-validation1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    margin: 2%;
}

.needs-validation1 h1 {
    margin: 2%;
}

.form-select {
    width:  11rem; /* Ajuste conforme necessário */
}

.form-group{
    margin-top: -2vh;
}

#btnCadastro {
    background-color: #9EDC4B;
    border-color: #9EDC4B;;
}

#btnCadastro:hover {
    background-color: white;
    ;
}