#compra {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #9EDC4B 0%, #9EDC4B 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #9EDC4B;
    transform: translateY(-0.1em);
  }
  
  button:active {
    box-shadow: inset 0px 0.1em 0.6em #9EDC4B;
    transform: translateY(0em);
  }
  



  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Inter', sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-link {
    text-decoration: none;
}

footer p {
    color: #0e0c0c
}

#footer_content {
    background-color: whitesmoke;
    display: grid;
    padding: 1rem;
    justify-content: center;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}


#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-login {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-login {
    width: 60vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.right-login h1 {
    font-size: 3vh;
    color: black;
}

.right-login img {
    width: 50vh;
}

.card-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 10px 40px white;
}

.card-login h1 {
    color: black;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: red;
    color: aliceblue;
    font-size: 12pt;
    box-shadow: 0px 10px 40px black;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: black;
}

.textfield input::placeholder {
    color: #f5f5f5;
}

.btn-login {
    width: 100%;
    padding: 10px 0px;
    margin: 25px;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 10px 40px 12px red;
}

@media only screen and (max-width:950px) {
    .card-login {
        width: 85%;

    }
}

@media only screen and (max-width:600px) {
    .main-login {
        flex-direction: column;
    }

    .card-login {
        width: 90%;
    }

    .right-login h1 {
        display: none;
    }

    .right-login img {
        width: 50vh;

    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }
}

body>main {
    background: #fff;
    padding: 0 30px 30px;
}

body>main .page-title {
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
}

body>main .content {
    display: flex;
}

body>main .content section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

body>main .content aside {
    min-width: 250px;
}

button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 3px solid #eee;
}

table thead tr th {
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}

table tbody tr {
    border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
    border: 0;
}

table tbody tr td {
    padding: 30px 0;
}

.product {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product img {
    border-radius: 6px;
}

.product .info {
    margin-left: 20px;
}

.product .info .name {
    font-size: 20px;
    margin-bottom: 10px;
}

.product .info .category {
    color: #666;
}

.qty {
    background: #eee;
    display: inline-flex;
    padding: 0 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}

.qty span {
    margin: 0 10px;
}

.qty button {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;
}

.qty button:hover {
    background: #ddd;
}

.remove {
    background: #eee;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
}

.remove:hover {
    background: #ddd;
}

aside {
    margin-left: 30px;
}

aside .box {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #222;
}

aside .box header {
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

aside .box .info {
    padding: 20px;
    font-size: 16px;
}

aside .box .info>div {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
}

aside .box .info>div:last-child {
    margin: 0;
}

aside .box .info button {
    color: #28a745;
    background: transparent;
    border: 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
}

aside .box footer {
    padding: 15px 20px;
    background: #ddd;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

aside>button {
    border: 0;
    padding: 15px 0;
    color: white;
    background: #28a745;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

aside>button:hover {
    background: #3bc55b;
}