body {
    margin: 0;
    background-color: black;
}

header {
    margin: 0;
    background-color: red;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 90%;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.menu .link {
    text-decoration: none;
    font-size: 24px;
    color: aliceblue;
}

.hamb {
    display: none;
}

.escrita {
    color: aliceblue;
}

.fundo .img {
    width: 100%;

}

.parte1 {
    background-image: url(img/banner_analise_e_des_sistemas\ \(1\).jpeg);
    background-size: cover;
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 1px;
}

.parte1 .titulo {
    width: 40%;
    height: 100%;
    text-align: center;
}

.titulo h1 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

.titulo h2 {
    color: red;
    font-size: 40px;
}
.parte2{
    width: 40%;
    height: 15vh;
}
.parte3{
    width: 100%;
    height: 50vh;
    display: flex;
    
}
.parte2 h1{
    font-size: 80px;
    color: bisque;
}
.parte3 img{
    width: 40%;
    height: 90%;
}
.parte3.texto{
    width: 50%;
    height: 100%;
}
.texto h1{
    color: aqua;
    font-size: 40px;
}
.texto p{
    color: aliceblue;
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .menu {
        display: none;
    }

    .hamb {
        display: inline;
    }

   .parte1 .titulo {
        width: 100%;
    }

    .titulo h1 {
        font-size: 40px
    }

    .titulo h2 {
        font-size: 20px
    }
    .parte2{
        width: 100%;
    }
    .parte2 h1{
        font-size: 40px;
    }
    .parte3{
        display: inline;
    }

    .parte3 img{
        width: 100%;
        
    }
    .parte3.texto{
        width: 100%;
    }
}