body{
    margin: 0;
}
.nav{
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.nav img{
    height: 100%;
}
.nav .contato{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
}
.menu{
    width: 100%;
    height: 4vh;
    background-color: gray;
    display: flex;
    align-items: center;
}
.menu .menuItens{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
    font-size: 24px;
    color: antiquewhite;
}